.login-logo{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-form{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

@media (max-width: 600px) {
    .login-logo{
        width: 72px;
        height: 72px;
    }
}

@media (max-width: 900px) and (min-width: 601px) {
    .login-logo{
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 400px) {
    .login-logo{
        width: 50px;
        height: 50px;
    }
}