{% extends 'base.html' %}

{% load static %}

{% block title %}
    Lista de Clientes
{% endblock %}

{% block breadcrumb %}



<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
      <li>Clientes</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<h1>Lista de Clientes</h1>

{% include 'includes/search_by_name.html' %}

<button class="btn btn-primary" onclick="window.location.href='{% url 'clients:clients_create' %}'">
    Añadir Cliente
</button>


<div class="overflow-auto">
  <table id="myTable">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
      
    <tbody>
        {% for client in clients %}
            <tr>
                <td>
                  {{ client.name }}
                </td>
                <td>
                  {{ client.phone }}
                </td>
                <td>
                  {{ client.email }}
                </td>
                <td>
                    <a class="edit-option" href="{% url 'clients:clients_update' client.id %}">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a class="delete-option" href="{% url 'clients:clients_delete' client.id %}">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/modal.js' %}"></script>

{% endblock extra_scripts %}

