{% extends 'base.html' %}

{% block title %}
    Actualizar Cliente
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
      <li><a href="{% url 'clients:clients_list' %}">Clientes</a></li>
      <li>Actualizar</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<h1>Actualizar Cliente</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}