{% extends 'base.html' %}

{% block title %}
    Anadir Cliente
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
      <li><a href="{% url 'clients:clients_list' %}">Clientes</a></li>
      <li>Crear Cliente</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<h1>Crear Cliente</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
{% endblock %}