{% extends "base.html" %}
{% load static %}


{% block title %}
Facturas
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
       <li>Facturas</li>
    </ul>
  </nav>
{% endblock %}



{% block content %}


<h1>Facturas</h1>

<button onclick="window.location.href='{% url 'invoices:invoices_create_option' %}'">Crear Factura</button>

<div class="space-between">
<h3>Productos</h3>
<div class="overflow-auto">
<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in invoices_item %}
            <tr>
                <td>{{ invoice.invoice_number }}</td>
                <td>{{ invoice.client.name }}</td>
                <td>{{ invoice.invoice_date }}</td>
                <td>{{ invoice.invoice_total }}</td>
                <td>{{ invoice.invoice_type }}</td>
                <td>
                    <a href="">Ver</a>
                    <a href="">Editar</a>
                    <a href="{% url 'invoices:invoices_confirm_delete' invoice.id %}">Eliminar</a>
                    <a href="{% url 'invoices:generate_pdf_item' invoice.id %}" target="_blank">Generar PDF</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    
  </table>
</div>
</div>

<div class="space-between">
<h3>Joyas a Medida</h3>
<div class="overflow-auto">
    <table>
        <thead>
            <tr>
                <th>Número</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices_customized %}
                <tr>
                    <td>{{ invoice.invoice_number }}</td>
                    <td>{{ invoice.client.name }}</td>
                    <td>{{ invoice.invoice_date }}</td>
                    <td>{{ invoice.invoice_total }}</td>
                    <td>{{ invoice.invoice_type }}</td>
                    <td>
                        <a href="">Ver</a>
                        <a href="">Editar</a>
                        <a href="">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        
      </table>
</div>
</div>

<div class="space-between">
<h3>Mantenimiento</h3>
<div class="overflow-auto">
    <table>
        <table>
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices_maintenance %}
                    <tr>
                        <td>{{ invoice.invoice_number }}</td>
                        <td>{{ invoice.client.name }}</td>
                        <td>{{ invoice.invoice_date }}</td>
                        <td>{{ invoice.invoice_total }}</td>
                        <td>{{ invoice.invoice_type }}</td>
                        <td>
                            <a href="">Ver</a>
                            <a href="">Editar</a>
                            <a href="">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            
          </table>
</div>
</div>

{% endblock %}

