{% extends "base.html" %}
{% load static %}


{% block title %}
Facturas
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
       <li>Facturas</li>
    </ul>
  </nav>
{% endblock %}



{% block content %}


<h1>Facturas</h1>

<button onclick="window.location.href='{% url 'invoices:invoices_create_option' %}'">Crear Factura</button>



<div class="space-between">

<div class="select-container">
    <label for="invoice_type">Filtrar tipo de factura:</label>
    <select name="invoice_type" id="invoice_type">
        <option value="all" disabled selected>Selecciona un tipo de factura</option>
        <option value="item" {% if filter_type == 'item' %}selected{% endif %}>Productos</option>
        <option value="customized" {% if filter_type == 'customized' %}selected{% endif %}>Joyas a Medida</option>
        <option value="maintenance" {% if filter_type == 'maintenance' %}selected{% endif %}>Mantenimiento</option> 
    </select>
</div>

<h3>Productos</h3>
<div class="overflow-auto">
<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoice_number }}</td>
                <td>{{ invoice.client.name }}</td>
                <td>{{ invoice.invoice_date }}</td>
                <td>{{ invoice.invoice_total }}</td>
                <td>{{ invoice.invoice_type }}</td>
                <td>
                    <a href="">Ver</a>
                    <a href="">Editar</a>
                    <a href="{% url 'invoices:invoices_confirm_delete' invoice.id %}">Eliminar</a>
                    <a href="{% url 'invoices:generate_pdf_item' invoice.id %}" target="_blank">Generar PDF</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    
  </table>
</div>
</div>


</div>

{% endblock %}

{% block extra_scripts %}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const invoiceType = document.getElementById('invoice_type');
        invoiceType.addEventListener('change', function() {
            const invoiceType = document.getElementById('invoice_type').value;
            
            switch (invoiceType) {
                case 'item':
                    window.location.href = '{% url 'invoices:invoices_list' %}?invoice_type=item';
                    break;
                case 'customized':
                    window.location.href = '{% url 'invoices:invoices_list' %}?invoice_type=customized';
                    break;
                case 'maintenance':
                    window.location.href = '{% url 'invoices:invoices_list' %}?invoice_type=maintenance';
                    break;
                default:
                    window.location.href = '{% url 'invoices:invoices_list' %}';
            }
        });
    });
    </script>


{% endblock %}

