{% extends 'base.html' %}

{% block title %}
<title>Crear Factura por Item</title>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
       <li><a href="{% url 'invoices:invoices_list' %}">Facturas</a></li>
       <li><a href="{% url 'invoices:invoices_create_option' %}">Opciones de Creación de Factura</a></li>
       <li>Crear Factura por Item</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<h1>Crear Factura por Item</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Crear</button>
</form>
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
        $('#id_items').select2({
            placeholder: 'Seleccionar items',
            allowClear: true,
            width: '100%',
        });
    });
</script>
{% endblock %}