{% extends 'base.html' %}

{% block title %}
<title>Crear Factura</title>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
       <li><a href="{% url 'invoices:invoices_list' %}">Facturas</a></li>
      <li>Opciones de Creación de Factura</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<h1>Opciones de Creación de Factura</h1>
<div class="row">
    <div class="col-md-4">
        <a href="">Crear Factura para Joya a Medida</a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'invoices:invoices_create_for_item' %}">Crear Factura para Item</a>
    </div>
    <div class="col-md-4">
        <a href="">Crear Factura para Mantenimiento</a>
    </div>
</div>
{% endblock %}