{% extends "base.html" %}
{% load static %}


{% block title %}
Facturas
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
       <li>Facturas</li>
    </ul>
  </nav>
{% endblock %}



{% block content %}


<h1>Facturas</h1>

{% include "includes/search.html" %}

<button onclick="window.location.href='{% url 'invoices:invoices_create' %}'">Crear Factura</button>



<div class="space-between">


<h3>Facturas</h3>
<div class="overflow-auto">
<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Estado</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Abono</th>
            <th>Restante</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.invoice_number }}</td>
                <td style="background-color: {% if invoice.invoice_status == 'Pendiente de Pago' %}#f6bf88{% elif invoice.invoice_status == 'Pagado' %}#d1f688{% else %}#f68888{% endif %};">
                    {{ invoice.invoice_status }}</td>
                <td>{{ invoice.client.name }}</td>
                <td>{{ invoice.invoice_date }}</td>
                <td>COP {{ invoice.invoice_total|floatformat:0 }}</td>
                <td>COP {{ invoice.invoice_balance|floatformat:0 }}</td>
                <td>COP {{ invoice.restante|floatformat:0 }}</td>
                <td>{{ invoice.invoice_type }}</td>
                <td>
                    <a class="observation-option" href="{% url 'invoices:invoices_detail' invoice.id %}">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a class="edit-option" href="{% url 'invoices:invoices_update' invoice.id %}">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a class="delete-option" href="{% url 'invoices:invoices_delete' invoice.id %}">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a class="generate-option" href="{% if not invoice.email_sent %} {% url 'invoices:generate_pdf_item' invoice.id %} {% else %} # {% endif %}" target="_blank">
                        <i class="bi bi-file-earmark-pdf" style="color: {% if invoice.email_sent %} #6c757d {% else %} #007bff {% endif %}"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    
  </table>
</div>
</div>


</div>

{% endblock %}


