{% extends 'base.html' %}

{% block title %}
<title>Crear Producto</title>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
       <li><a href="{% url 'invoices:invoices_list' %}">Facturas</a></li>
       <li>Crear Factura de Joyas a medida</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<h1>Crear Factura de Joyas a medida</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Crear</button>
</form>
{% endblock %}
