{% extends 'base.html' %}

{% block title %}
    Quote List
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
       <li>Cotizaciones</li>
    </ul>
  </nav>
{% endblock %}


{% block content %}

<h1>Lista de Cotizaciones</h1>

{% include 'includes/search.html' %}

<button onclick="window.location.href='{% url 'quotes:quotes_create' %}'" class="btn btn-primary">Crear Cotización</button>

<div class="overflow-auto" >
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>Número de Cotización</th>
            <th>Fecha de Cotización</th>
            <th>Cliente</th>
            <th>Tipo de Producto</th>
            <th>Total de Cotización</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for quote in quotes %}
        <tr>
            <td>{{ quote.quote_number }}</td>
            <td>{{ quote.quote_date }}</td>
            <td>{{ quote.client.name }}</td>
            <td>{{ quote.quote_product_type }}</td>
            <td>{{ quote.quote_total|floatformat:0 }}</td>
            <td>
                    <a class="observation-option" href="{% url 'quotes:quotes_detail' quote.id %}" data-tooltip="Ver detalle">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a class="generate-option" href="{% url 'quotes:generate_pdf' quote.id %}" target="_blank" data-tooltip="Generar PDF">
                        <i class="bi bi-file-earmark-pdf"></i>
                    </a>
                    
                    <a class="create-invoice-option" href="{% url 'quotes:create_invoice' quote.id %}" data-tooltip="Crear factura ">
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                    <a class="edit-option" href="{% url 'quotes:quotes_update' quote.id %}" data-tooltip="Editar">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a class="delete-option" href="{% url 'quotes:quotes_delete' quote.id %}" data-tooltip="Eliminar">
                        <i class="bi bi-trash"></i>
                    </a>
                    {% if quote.client.email %}
                    <a class="send-email-option" href="{% url 'quotes:confirm_email' quote.id %}" data-tooltip="Enviar correo electrónico">
                        <i class="bi bi-envelope"></i>
                        </a>
                    {% else %}
                    <a class="send-email-option" href="{% url 'clients:client_update' quote.client.id message="falta email" %}" data-tooltip="Enviar correo electrónico">
                        <i class="bi bi-envelope"></i>
                    </a>
                    {% endif %}
                
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}