{% extends 'base.html' %}

{% block title %}
    Quote List
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
       <li>Cotizaciones</li>
    </ul>
  </nav>
{% endblock %}


{% block content %}

<h1>Lista de Cotizaciones</h1>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% include 'includes/search.html' %}

<button onclick="window.location.href='{% url 'quotes:quotes_create' %}'" class="btn btn-primary">Crear Cotización</button>

<div class="overflow-auto" >
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>Número de Cotización</th>
            <th>Fecha de Cotización</th>
            <th>Cliente</th>
            <th>Tipo de Producto</th>
            <th>Total de Cotización</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for quote in quotes %}
        <tr>
            <td>{{ quote.quote_number }}</td>
            <td>{{ quote.quote_date }}</td>
            <td>{{ quote.client.name }}</td>
            <td>{{ quote.quote_product_type }}</td>
            <td>{{ quote.quote_total|floatformat:0 }}</td>
            <td>
                
                    <a class="observation-option" href="{% url 'quotes:quotes_detail' quote.id %}">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a class="generate-option" href="{% url 'quotes:generate_pdf' quote.id %}" target="_blank">
                        <i class="bi bi-file-earmark-pdf"></i>
                    </a>
                    
                    <a class="create-invoice-option" href="{% url 'quotes:create_invoice' quote.id %}">
                        <i class="bi bi-arrow-up-right"></i>
                    </a>
                    <a class="edit-option" href="{% url 'quotes:quotes_update' quote.id %}">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a class="delete-option" href="{% url 'quotes:quotes_delete' quote.id %}">
                        <i class="bi bi-trash"></i>
                    </a>
                    <a class="send-email-option" href="{% if not quote.email_sent %} {% url 'quotes:confirm_email' quote.id %} {% else %} # {% endif %}">
                        <i class="bi bi-envelope" style="color: {% if quote.email_sent %} #6c757d {% else %} #007bff {% endif %}"></i>
                    </a>
                
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}