{% extends 'base.html' %}

{% block title %}
<title>Crear Cotización</title>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
      <li><a href="{% url 'quotes:quote_list' %}">Cotizaciones</a></li>
      <li>Crear Cotización</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<h1>Crear Cotización</h1>
<form method="post">

    {% csrf_token %}
    <div class="form-group">
        {{form.quote_number.label}}
        {{form.quote_number}}
    </div>

    <div class="form-group">
        {{form.quote_date.label}}
        {{form.quote_date}}
    </div>

    <div class="form-group">
        {{form.client.label}}
        {{form.client}}
        <a href="{% url 'clients:clients_create' 'true' %}" class="btn btn-primary">Crear cliente no existente</a>
    </div>

    <div class="form-group">
        {{form.quote_product_type.label}}
        {{form.quote_product_type}}
    </div>

    <div class="form-group">
        {{ form.quote_total.label }}
        {{ form.quote_total }}
    </div>

    <div class="form-group">
        {{form.quote_quantity.label}}
        {{form.quote_quantity}}
    </div>

    <div class="form-group">
        {{ form.quote_description.label }}
        {{ form.quote_description }}
    </div>

    <div class="form-group">
        {{form.quote_additional_notes.label}}
        {{form.quote_additional_notes}}
    </div>
    

    <button type="submit">Crear</button>
</form>
{% endblock %}