{% extends 'base.html' %}

{% block title %}
<title>Crear Cotización</title>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
      <li><a href="{% url 'quotes:quotes_list' %}">Cotizaciones</a></li>
      <li>Crear Cotización</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<h1>Crear Cotización</h1>
<form method="post">


    {% csrf_token %}
    <div class="form-group">
        {{form.quote_number.label}}
        {{form.quote_number}}
    </div>

    <div class="form-group">
        {{form.quote_date.label}}
        {{form.quote_date}}
    </div>

    <div class="form-group">
        {{form.client.label}}
        {{form.client}}
        <a href="{% url 'clients:clients_create' 'true' %}" class="btn btn-primary">Crear cliente no existente</a>
    </div>

    <div class="form-group">
        {{form.quote_product_type.label}}
        {{form.quote_product_type}}
    </div>

    
    <div class="form-group">
        {{form.quote_quantity.label}}
        {{form.quote_quantity}}
    </div>


    <div class="form-group">
        {{ form.quote_description.label }}
        {{ form.quote_description }}
    </div>

    <div class="form-group">
        {{form.quote_value.label}}
        {{form.quote_value}}
    </div>

    <!-- Discount fields -->
     {% if quote.quote_discount is not None %}
     <div class="form-group">
        {{form.quote_discount.label}}
        {{form.quote_discount}}
    </div>
    <div class="form-group">
        {{form.quote_discount_description.label}}
        {{form.quote_discount_description}}
    </div>
    {% else %}
    <div class="form-group">
        <input type="checkbox" name="quote_discount" id="quote_discount">
        <label for="quote_discount">Se aplica un abono a la cotización?</label>
        <span class="sub-label" style="font-size: 14px; color: #6c757d;">E.j: Anillos de oro tasados, etc.</span>
    </div>

    <div class="discount_fields" id="discount_fields" style="display: none;">
        <div class="form-group">
            {{form.quote_discount.label}}
            {{form.quote_discount}}
        </div>
        <div class="form-group">
            {{form.quote_discount_description.label}}
            {{form.quote_discount_description}}
        </div>
    </div>
    {% endif %}
    <!-- End discount fields -->

    <div class="form-group">
        {{ form.quote_total.label }}
        {{ form.quote_total }}
    </div>



    <div class="form-group">
        {{form.quote_additional_notes.label}}
        {{form.quote_additional_notes}}
    </div>
    

    <button type="submit">Crear</button>
</form>
{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var discountCheckbox = document.getElementById('quote_discount');
        var discountFields = document.getElementById('discount_fields');
        discountCheckbox.addEventListener('change', function() {
            discountFields.style.display = this.checked ? 'block' : 'none';
        });
    });
</script>
{% endblock %}