{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<h1>Bienvenido, {{ user.username }}</h1>

<section>
<div class="grid">
            <article>
                Clientes {{ total_clients }}
            </article>
            <article>
                Cotizaciones {{ total_quotes }}
            </article>
            <article>
                Facturas {{ total_invoices }}
            </article>
            <article>
                Inventarios ${{ total_inventory|default:"0" }}
            </article>
</div>
</section>

<section>
    <h3>Actividad</h3>
<div class="grid">
    <div>
        <article>
            <header>Facturas Recientes</header>
            
            {% if recent_invoices %}
            
                {% for invoice in recent_invoices %}
                <li href="{% url 'invoices:invoices_detail' invoice.id %}">{{ invoice.client.name }} - {{ invoice.invoice_total }}</li>
                {% endfor %}
            
            {% else %}
            <p>No hay facturas recientes</p>
            {% endif %}
          </article>
    </div>
    <div>
        <article>
            <header>Cotizaciones Recientes</header>
            {% if recent_quotes %}
            
                {% for quote in recent_quotes %}
                <li href="{% url 'quotes:quotes_detail' quote.id %}">{{ quote.client.name }} - {{ quote.quote_total }}</li>
                {% endfor %}
            
            {% else %}
            <p style="font-size: 1.2rem;">No hay cotizaciones recientes</p>
            {% endif %}
          </article>
    </div>
</div>

<div class="grid">
    <div>
        <article>
            <header>Clientes</header> 
            {% if recent_clients %}
                {% for client in recent_clients %}
                <li>{{ client.name }}</li>
                {% endfor %}
            {% else %}
            <p style="font-size: 1rem; font-weight: 200;">No hay clientes registrados</p>
            {% endif %}
          </article>
    </div>
    <div>
        <article>
            <header>Inventarios</header>
            {% if inventories %}
                {% for inventory in inventories %}
                <li>{{ inventory.name }} - {{ inventory.price }}</li>
                {% endfor %}
            {% else %}
            <p style="font-size: 1rem; font-weight: 200;"> No hay inventarios registrados </p>
            {% endif %}
          </article>
    </div>
</div>
</section>

<section>
    <div class="grid">
         <article id="create-quote" style="cursor: pointer;">
            <a>Crear Nueva Cotización</a>
         </article>
         <article id="create-invoice" style="cursor: pointer;">
            <a>Crear Nueva Factura</a>
         </article>
         <article id="create-inventory" style="cursor: pointer;">
            <a>Añadir Inventario</a>
         </article>
    </div>
</section>

<section>
<div>
    <h3>Cotizaciones vs Facturas sobre el tiempo</h3>
    
        {{ quotes_vs_invoices_div|safe }}
    
</div>
{% if inventories.count > 0 %}
<div>
    <h3>Distribución de Inventarios</h3>
    {{ inventory_div|safe }}
</div>
{% else %}
<div>
    <h3>Distribución de Inventarios</h3>
    <p>No hay inventarios registrados</p>
</div>
{% endif %}

<div>
    <h3>Tendencias de Ingresos</h3>
    {{ revenue_div|safe }}
</div>

{% endblock %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('create-quote').addEventListener('click', function() {
            window.location.href = '{% url 'quotes:quotes_create' %}';
        });
        document.getElementById('create-invoice').addEventListener('click', function() {
            window.location.href = '{% url 'invoices:invoices_create' %}';
        });
        document.getElementById('create-inventory').addEventListener('click', function() {
            window.location.href = '{% url 'inventories:inventories_create' %}';
        });
    });
</script>
{% endblock %}
