{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<h1>Dashboard</h1>

<div class="grid">
    <div>
        <article>
            <header>Resumen de Facturas</header>
            <p>Total de Facturas: {{ total_invoices }}</p>
          </article>
    </div>
    <div>
        <article>
            <header>Resumen de Cotizaciones</header>
            <p>Resumen de Cotizaciones</p>
          </article>
    </div>
</div>

<div class="grid">
    <div>
        <article>
            <header>Clientes</header>
            <p>Clientes registrados</p>
          </article>
    </div>
    <div>
        <article>
            <header>Inventarios</header>
            <p>Resumen de Cotizaciones</p>
          </article>
    </div>
</div>
{% endblock %}