<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    {% block title %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

</head>
<body>

    {% block breadcrumb %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block extra_scripts %}
    {% endblock %}
</body>
</html>