{% extends "base.html" %}
{% load static %}


{% block title %}
Facturas
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
       <li>Productos</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<h1>Anillos</h1>

<button onclick="window.location.href='{% url 'products:products_create_option' %}'">Crear Producto</button>

<div class="overflow-auto">
<table>
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Calidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ring in rings %}
            <tr>
                <td>{{ ring.ring_type }}</td>
                <td>{{ ring.ring_description }}</td>
                <td>{{ ring.ring_quality }}</td>
                <td>{{ ring.ring_weight }}</td>
                <td>{{ ring.synthetic_stone }}</td>
                <td>
                    <a href="">Ver</a>
                    <a href="">Editar</a>
                    <a data-target="modal-example" onclick="toggleModal(event)">Eliminar</a>
                </td>
            </tr>



            <dialog id="modal-example">
                <article>
                  <header>
                    <button
                      aria-label="Close"
                      rel="prev"
                      data-target="modal-example"
                      onclick="toggleModal(event)"
                    ></button>
                    <h3>¿Está seguro de eliminar esta factura?</h3>
                  </header>
                  <p>
                    Esta factura sera eliminada permanentemente.
                  </p>
                  <footer>
                    <button
                      role="button"
                      class="secondary"
                      data-target="modal-example"
                      onclick="toggleModal(event)"
                    >
                      Cancelar
                    </button>
                    <button autofocus onclick="window.location.href='{% url 'products:products_delete' ring.id %}'">
                      Confirmar
                    </button>
                  </footer>
                </article>
              </dialog>
        {% endfor %}
    </tbody>
    
  </table>
</div>


<h1>Piedras</h1>

<div class="overflow-auto">
    <table>
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Color</th>
                <th>Claridad</th>
                <th>Quilate</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for stone in stones %}
                <tr>
                    <td>{{ stone.stone_description }}</td>
                    <td>{{ stone.stone_color }}</td>
                    <td>{{ stone.stone_clarity }}</td>
                    <td>{{ stone.stone_carat }}</td>
                    <td>
                        <a href="">Ver</a>
                        <a href="">Editar</a>
                        <a data-target="modal-example" onclick="toggleModal(event)">Eliminar</a>
                    </td>
                </tr>
    
    
    
                <dialog id="modal-example">
                    <article>
                      <header>
                        <button
                          aria-label="Close"
                          rel="prev"
                          data-target="modal-example"
                          onclick="toggleModal(event)"
                        ></button>
                        <h3>¿Está seguro de eliminar esta factura?</h3>
                      </header>
                      <p>
                        Esta factura sera eliminada permanentemente.
                      </p>
                      <footer>
                        <button
                          role="button"
                          class="secondary"
                          data-target="modal-example"
                          onclick="toggleModal(event)"
                        >
                          Cancelar
                        </button>
                        <button autofocus onclick="window.location.href='{% url 'products:products_delete' stone.id %}'">
                          Confirmar
                        </button>
                      </footer>
                    </article>
                  </dialog>
            {% endfor %}
        </tbody>
        
      </table>
    </div>


    <h1>Accesorios</h1>

    <div class="overflow-auto">
        <table>
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Certificado</th>
                    <th>Peso</th>
                    <th>Calidad</th>
                    <th>Longitud</th>
                    <th>Material</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for stone in stones %}
                    <tr>
                        <td>{{ stone.stone_description }}</td>
                        <td>{{ stone.stone_color }}</td>
                        <td>{{ stone.stone_clarity }}</td>
                        <td>{{ stone.stone_carat }}</td>
                        <td>
                            <a href="">Ver</a>
                            <a href="">Editar</a>
                            <a data-target="modal-example" onclick="toggleModal(event)">Eliminar</a>
                        </td>
                    </tr>
        
        
        
                    <dialog id="modal-example">
                        <article>
                          <header>
                            <button
                              aria-label="Close"
                              rel="prev"
                              data-target="modal-example"
                              onclick="toggleModal(event)"
                            ></button>
                            <h3>¿Está seguro de eliminar esta factura?</h3>
                          </header>
                          <p>
                            Esta factura sera eliminada permanentemente.
                          </p>
                          <footer>
                            <button
                              role="button"
                              class="secondary"
                              data-target="modal-example"
                              onclick="toggleModal(event)"
                            >
                              Cancelar
                            </button>
                            <button autofocus onclick="window.location.href='{% url 'products:products_delete' stone.id %}'">
                              Confirmar
                            </button>
                          </footer>
                        </article>
                      </dialog>
                {% endfor %}
            </tbody>
            
          </table>
        </div>

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/modal.js' %}"></script>

{% endblock extra_scripts %}
