{% extends 'base.html' %}

{% block title %}
<title>Crear Producto</title>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
       <li><a href="{% url 'products:products_list' %}">Productos</a></li>
       <li><a href="{% url 'products:products_create_option' %}">Opciones de Creación de Producto</a></li>
       <li>Registrar Piedra</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<h1>Registrar Piedra</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Crear</button>
</form>
{% endblock %}
