{% extends 'base.html' %}

{% block title %}
<title>Crear Factura</title>
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ul>
       <li><a href="{% url 'dashboard:dashboard' %}">Inicio</a></li>
       <li><a href="{% url 'products:products_list' %}">Productos</a></li>
      <li>Opciones de Creación de Producto</li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
<h1>Opciones de Creación de Producto</h1>
<div class="row">
    <div class="col-md-4">
        <a href="{% url 'products:products_create_ring' %}">Registar Anillo</a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'products:products_create_chain_or_bracelet' %} ">Registar Accesorio</a>
    </div>
    <div class="col-md-4">
        <a href="{% url 'products:products_create_stone' %}">Registar Piedra</a>
    </div>
</div>
{% endblock %}